<div class="topic-index-wrapper">
  <div class="container">
    
    <!--検索機能--!>
    
    <div class="panel row">
      <div class="panel-heading">
        <h3>検索項目</h3>
      </div>
      <div class="panel-body  ">
        <%= search_form_for(@q, url:search_path) do |f| %>
      <div class="form-group col-md-6">
        <%= f.label :class_name_cont, "授業名" %>
        <%= f.search_field :class_name_cont, class:'form-control'%>
      </div>
      <div class="form-group col-md-6">
        <%= f.label :class_teacher_cont, "講師名" %>
        <%= f.search_field :class_teacher_cont, class:'form-control'%>
      </div>
      <div class="form-group col-md-3">
      <%= f.select :year_eq, [["2019年度", "2019年度"], ["2018年度", "2018年度"], ["2017年度", "2017年度"], ["2016年度", "2016年度"], ["その他", "その他"]],{:include_blank => '年度'},{class:'form-control'}%>
      </div>
      <div class="form-group col-md-3">

        <%= f.select :semester_eq, [["前期", "前期"], ["後期", "後期"]], {:include_blank => '学期'}, {class:'form-control'} %>
      </div>
      <div class="form-group col-md-3">
        <%= f.select :week_eq, [["月", "月曜"], ["火", "火曜"], ["水", "水曜"], ["木", "木曜"], ["金", "金曜"]] , {:include_blank => '曜日'}, {class:'form-control'} %>
      </div>
      <div class="form-group col-md-3">
        <%= f.select :term_eq, [["1限", "1限"], ["2限", "2限"], ["3限", "3限"], ["4限", "4限"], ["5限", "5限"], ["その他", "その他"]] , {:include_blank => '時限'}, {class:'form-control'} %>
      </div>
      <div class="form-group col-md-3">
        <%= f.select :satisfaction_eq, [["充実してない", "1"], ["あまり充実してない", "2"], ["普通", "3"], ["充実している", "4"], ["とても充実している", "5"]] , {:include_blank => '授業充実度'}, {class:'form-control'} %>
      </div>
      <div class="form-group col-md-3">
        <%= f.select :difficulty_level, [["すごくとりにくい", "1"], ["とりにくい", "2"], ["普通", "3"], ["とりやすい", "4"], ["すごくとりやすい", "5"]] , {:include_blank => '単位取得度'}, {class:'form-control'} %>
      </div>
      <div class="form-group col-md-3">
         <%= f.select :assessment_eq, [["テスト", "テスト"], ["レポート", "レポート"], ["出席", "出席"], ["その他", "その他"]] , {:include_blank => '主な評価方法'}, {class:'form-control'} %>
       </div>
          
      <div class=" col-md-3 ">
        <%= f.submit '検索', class: ' btn btn-block btn-danger'%>
      </div>
    <% end %>
      </div>
    </div>
    
    <!--検索機能終わり--!>
    
    <div class="row">
      <% @topics.each do |topic| %>
        <div class="col-md-6 col-md-offset">
          <div class="topic-index-single">
          
          <!--タイトル初め--!>
          <h3 class="topic-author">
            <% if !topic.favorite_users.include?(current_user) %>
              <%= link_to favorites_path(topic_id: topic.id), method: :post do %>
                <span class="topic-index-icon">
                  <i class="far fa-bookmark"></i>
                 </span>
              <% end %>
            <% else %>
              <%= link_to favorites_path(topic_id: topic.id), method: :delete do %>
                 <span class="topic-index-icon"><i class="fas fa-bookmark"></i></span>
               <% end %>
            <% end %>
             
            <%= topic.class_name %>
            </h3>
            <!--タイトル終わり--!>
          
           
            <!--詳細リストはじめ--!>
            <div class="show-item">
            <ul>
            <li class="topic-text ">
              【担当教員名】<%= topic.class_teacher %>
            </li>
            <li class="topic-text ">
               【受講時期】<%= topic.year %>/<%= topic.semester %>
            </li>
            <li class="topic-text ">
              【時限】<%= topic.week %>/<%= topic.term %>
            </li>
            <li class="topic-text">
              【授業充実度】<%= topic.satisfaction %>
            </li>
            <li class="topic-text">
              【単位取得度】<%= topic.difficulty_level %>
            </li>
            <li class="topic-text">
              【主な評価方法】<%= topic.assessment %>
            </li>
            <li class="topic-text">
              【受講する人へのアドバイス】<br><%= topic.description %>
            </li>
            </ul>
           </div>
           <!--詳細リスト終わり!>
            
          <!--編集削除ボタン追加--!>
          <div class="col-md-offset-9 col-md-3">
            <% if logged_in? && current_user.id == topic.user.id %>
              <%= link_to edit_topic_path(topic) do %>
                <span class="topic-index-icon">
                  <i class="fas fa-edit"></i>
              </span>
              <% end %>
            
              <%= link_to topic_path(topic), method: :delete do %>
                <span class="topic-index-icon">
                  <i class="fas fa-trash-alt"></i>
                </span>
              <% end %>
            <% end %>
          </div>.
          <!--編集削除ボタン終わり--!>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>